.input-group {
    input {
        border: none;
        border-radius: 50%;
        margin-right: 2rem;
        width: 75%;

        &:focus {
            border: none;
            font-size: 1.4rem;
        }
    }

    img {
        &:hover {
            cursor: pointer;
        }
    }


}